@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swipe-slide {
    user-select: none;
    /* position: absolute;
    top: 0; */
    height: 80px;
    width: calc((100% * 2) - 70px);
    display: grid;
    grid-template-columns: 70px 1fr 70px 1fr 70px;
    background-color: #0c74ea;
    margin-left: calc(-100% + 70px + 2px);
    align-items: center;
    justify-items: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
    transition: 0.5s ease-in-out;
}

/* .swipe-slide::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 100px;
    z-index: 1;
    background: rgba(252, 3, 3, 0.25);
    transform: translateX(-200px) skewX(30deg);
    transition: 0.5s ease-in-out;
    top: -30px;
} */

.swipe-slide.active {
    background-color: #68ab1e;
}
